<header>
  <nav id="navbar">
    <h1 id="logo">Off the Cook<div></div></h1>
    <ul>
    <li><%= link_to 'Foods', foods_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li><%= link_to 'Inventories', inventories_path %></li>
    <li><%= link_to 'Public', public_recipes_path %></li>
    </ul>
  </nav>
</header>