<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<%= link_to "Add food", new_food_path %>

<table id="table">
  <thead>
		<tr>
			<th>Food</th>
			<th>Measurement Unit</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
  <tbody>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </tbody>
</table>


