<h1>Shopping List</h1>

<table id="table">
  <thead>
		<tr>
			<th>Food</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
  <tbody>
  # <% @inventory_foods.each do |food| %>
  #   <tr>
  #     <td>
  #       <%= Food.find_by(id: food.food_id).name %>
  #     </td>

  #     <td>
  #       <span><%= food.quantity.round(2) %> <%= Food.find_by(id: food.food_id).measurement_unit %></span>
  #     </td>

  #     <td>
  #       <%= button_to "Remove", food, :method => :delete %>
  #     </td>

  #   </tr>
  # <% end %>
  </tbody>
</table>
