/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--color-two);
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-one);
}

header {
  display: flex;
  width: 100%;
  padding: 1.5rem 0;
  justify-content: center;
}

#navbar {
  padding-bottom: 0.5rem;
  width: 80%;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

/* tables styling */

#table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 0.5rem;
}

#table th {
  border: 1px solid #b3adad;
  padding: 0.5rem;
  background: #f0f0f0;
  color: #313030;
}

#table td {
  border: 1px solid #b3adad;
  padding: 0.5rem;
  background: #ffff;
  color: #313030;
}
